html,body{
  margin: 0px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(209, 209, 209);
}
.nav{
  position: sticky;
  z-index: 99;
  top: 0px;
}
.logo a{
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Anton', sans-serif;
  margin: 5px;
}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.navbar li{
  list-style: none;
  padding: 0px 20px;
  text-decoration: none;
}
.navbar li a{
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: 'Anton', sans-serif;
  font-weight: 50;
}
.navbar li a:hover{
  color: rgb(13, 166, 151);
}
.jumbotron{
  height: 45vw;
  width: 100%vw;
  background-size: cover;
  background-image: url(asset/jumboimage.jpg);
  background-color: black;
  opacity: 0.9;
  z-index: 0;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.jumbotron-img{
  width: 45%;
  height: 65%;
  margin-top: 40px;
  border: 1px solid white;
}
.jumbotron h4{
  color:rgb(237, 237, 237);
  position: relative;
  top: 50px;
  font-size: 20px;
  font-family: 'Archivo Black', sans-serif;
}
.jumbotron h1{
  font-size: 65px;
  color: rgb(255, 255, 255);
  font-family: 'Archivo Black', sans-serif;
  font-weight: 1000;
  text-shadow: 0px 5px 15px rgb(58, 58, 58);
}
.jumbotron p{
  position: relative;
  bottom: 55px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: 'Archivo Black', sans-serif;
  font-weight: 300;
  text-shadow: 0px 5px 15px rgb(58, 58, 58);
}
.importantHeadline{
  text-align: center;
  padding: 0px;
  margin: 0px;
  
}
.textBox{
  width: 500px;
  position: relative;
  bottom: 20px;
  margin: 0px;
}
.feature-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.feature{
  margin: 10px 5px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 5px 20px gainsboro;
  width: 190px;
  height: 270px;
  transition: 0.2s ease;
}
.feature img{
  padding: 0px;
  width: 100%;
  height: 60%;
  background-color: silver;
}
.feature h3{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}
#listitem h1{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}
.feature:hover{
  scale: 110%;
}
.product-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.product-flex button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: black;
  color: white;
  transition: 0.2s ease;
  font-size: 15px;
}
.product-flex button:hover{
  scale: 110%;
  box-shadow: 5px 5px 10px gainsboro;
}
.title{
  font-size: 50px;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  box-shadow: 0px 0px 5px gainsboro
}
.title-desc{
  font-size: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  bottom: 10px;
}

.products{
  margin: 10px;
  border-radius: 10px;
  border: 1px solid silver;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 5px 10px gainsboro;
  width: 250px;
  cursor: pointer;
  transition: 0.2s ease;
}
.products:hover{
  box-shadow: 15px 10px 10px gainsboro;
  scale: 103%;
}
.products#guitar:hover{
  box-shadow: 15px 10px 0px rgb(46, 76, 149);
}
.products#guitar{
  border: 1px solid blue;
}
.products#piano:hover{
  box-shadow: 15px 10px 0px rgb(0, 0, 0);
}
.products#piano{
  border: 1px solid rgb(0, 0, 0);
}
.products#violin:hover{
  box-shadow: 15px 10px 0px rgb(255, 238, 125);
}
.products#violin{
  border: 1px solid rgb(135, 112, 9);
}
.products#drum:hover{
  box-shadow: 15px 10px 0px rgb(255, 90, 90)
}
.products#drum{
  border: 1px solid rgb(255, 0, 0);
}
.products img{
  padding: 0px;
  height: 250px;
  background-color: silver;
}
.products h1{
  font-size: 19px;
  font-family: 'Anton', sans-serif;
  font-weight: 50;
}
.star{
  color: rgb(252, 159, 0);
  font-size: 90%;
}
.cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea ;
  font-weight: 500;
  color: #088178;
  border: 1px solid white;
  position: relative;
  left: 75px;
}
.products h3{
  font-family: 'Anton', sans-serif;
  color: goldenrod;
  font-size: 20px;
}

/* shop */
.bestSellers{
  margin: 0px 10px;
  border-radius: 10px;
  border: 1px solid goldenrod;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 5px 10px gainsboro;
  width: 250px;
  cursor: pointer;
  transition: 0.2s ease;
}
.bs-bg{
  background-color: rgb(250, 255, 235);
  padding: 10px;
}
.bestSellers:hover{
  box-shadow: 15px 10px 0px rgba(255, 217, 0, 0.753);
  scale: 103%;
}
.bestSellers img{
  padding: 0px;
  height: 200px;
  background-color: silver;
  border-radius: 30px;
  margin-bottom: 20px;
}
.bestSellers h1{
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  font-weight: 20;
}
.bestSellers h3{
  font-family: 'Anton', sans-serif;
  color: rgba(216, 180, 78, 0.877);
  font-size: 25px;
}
.bestSellers button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px 30px;
  border: 1px solid green;
  border-radius: 10px;
  background-color: rgb(41, 162, 0);
  color: white;
  transition: 0.2s ease;
  font-size: 15px;
}
.bestSellers button:hover{
  scale: 110%;
  box-shadow: 5px 5px 10px gainsboro;
}


/* intro */
.sterdy-text{
  text-align: right;
}
.storeIntroduction{
  padding: 3px 10px;
  display: flex;
}
.storeTitle-small{
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  color: gray;
  border-top: 2px solid blue;
  
}
.storeHeadline{
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  margin-bottom: 0px;
  position: relative;
  bottom: 30px;
}

.storeInfo-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px 30px;
}
.storeInfo-desc{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  width: 90%;
  text-align: justify;
  position: relative;
  bottom: 80px;
}
.image-intro img{
  width: 600px;
  height: 500px;
  box-shadow: 5px 5px 15px gainsboro;
  border-radius: 25px;
}

/* about us */
.banner1{
  background-size: cover;
  background-image: url(asset/banner.jpg);
  padding: 20px;
  width: 100%vw;
  height: 150px;
}
.banner2{
  background-size: cover;
  background-image: url(asset/banner2.jpg);
  padding: 20px;
  width: 100%vw;
  height: 150px;
}

.banner1, .banner2 h1{
  display: flex;
  color: white;
  padding: 30px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: 'Archivo Black', sans-serif;
}
.aboutUs{
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.aboutUs img{
  width: 45%;
  box-shadow: 5px px 15px silver;
  border-radius: 12px;
}
.info-flex{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.about-title{
  font-size: 40px;
  font-family: 'DM Serif Display', serif;
}
.about-desc{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  width: 90%;
  text-align: justify;
  position: relative;
  bottom: 30px;
}
.whyUs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  text-align: center;
}
#whyUs h1{
  text-align: center;
}
.whyUs img{
  border-radius: 100px;
  width: 200px;
  height: 200px;
}
.whyUs p{
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
}
/* location */
.maps-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.maps{
  width: 500px;
  padding: 30px 10px;
}
.iframe{
  border: 1px solid silver;
  border-radius: 20px;
  box-shadow: 5px 10px 15px gainsboro;
  transition: 0.2s ease;
  background-color: white;
}
iframe{
  border-radius: 15px;
  transition: 0.2s ease;
  width: 500px;
}
iframe:hover{
  scale: 103%;
  box-shadow: 10px 15px 25px gainsboro;
}
.iframe:hover{
  scale: 103%;
  box-shadow: 10px 15px 25px gainsboro;
  border: 2px solid blue;
}
.bg{
  padding: 30px;
  background: rgb(244,202,255);
  background: linear-gradient(90deg, rgba(244,202,255,1) 0%, rgba(203,205,255,1) 0%, rgba(246,246,252,1) 100%);
}
.vid iframe{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 900px;
  height: 500px;
}
.contact-title{
  font-size: 40px;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 200;
  text-align: center;
}
.contact-text{
  padding: 30px;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}
.contact-text h2{
  font-size: 30px;
}
.contact-container {
  display: flex;
  justify-content: flex-start;
}
.contactBg{
  background: rgb(248,248,255);
  background: linear-gradient(90deg, rgba(248,248,255,1) 0%, rgba(246,246,252,1) 100%);
}

.illustration-img {
  margin: 20px;
  width: 600px;
  height: 700px;
  border: 2px solid black;
  box-shadow: 5px 10px 15px silver;
  border-radius: 12px;
  transition: 0.2s ease;
}
.illustration-img:hover{
  scale: 101%;
}
.contact {
  display: inline-block;
  margin: 10px 50px;
  text-align: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
}
.profile-contact-img {
  margin: 20px;
  width: 200px;
  height: 25%;
  box-shadow: 5px 10px 15px silver;
  border-radius: 12px;
}
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.icon {
  margin-right: 6px;
}
.fa-user, .fa-location-arrow, .fa-mail-bulk, .fa-comments{
  font-size: 27px;
} 
.form-label{
  position: absolute;
  left: 10px;
  top: 10px;
}
.form-input {
  position: relative;
  width: 100%;
  border-bottom: 1px solid grey;
  outline: none;
  height: 48px;
  margin-bottom: 15px;
  padding: 0;
}
.input-item {
  position: absolute;
  top: 0;
  left: 0;
  border-style: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 15px;
  height: 100%;
}
.textarea-container {
  display: flex;
  justify-content: center;
}
.form-textarea {
  position: relative;
}
.textarea {
  border-style: none;
  border-bottom: 1px solid grey;
  outline: none;
  margin-top: 10px;
}
.submit {
  border-style: none;
  border-radius: 25px;
  color: aliceblue;
  background-color: rgb(38, 70, 83);
  margin: 5px;
  cursor: pointer;
}
.input-item + .form-label {
  top: -5px;
  left: -2px;
  font-size: 10px;
}
.textarea + .form-label {
  top: -5px;
  left: -2px;
  font-size: 10px;
}
.blogFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.blogFlex h1{
  text-align: center;
  width: 300px;
}
.blogFlex img{
  width: 300px;
  height: 200px;
  box-shadow: 5px 0px 15px gainsboro;
}
.blogFlex p{
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
}
/* footer */
footer{
  background-color: black;
  margin-top: 20px;
}
.main-footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.left-footer {
  margin-right: auto;
  margin-left: 40px;
}
.right-footer {
  margin-left: auto;
  margin-right: 40px;
}
.center-footer {
  margin-left: 20px;
  margin-right: 20px;
}
.info-left {
  color: rgb(255, 255, 255);
  text-align: left;
  width: 100%;
}
.info-right {
  color: rgb(255, 251, 251);
  text-align: right;
  width: 100%;
}
.info-center {
  color: rgb(255, 253, 253);
  text-align: center;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid rgb(242, 242, 242);
}
.fa-map-marker-alt, .fa-street-view, .fa-phone-square-alt, .fa-phone-volume, 
.fa-instagram-square, .fa-copyright, .fa-home, .fa-tshirt, .fa-camera, .fa-user-tie{
  margin: 6px;
}

.section-slider{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.image-slider{
  position: relative;
  width: 640px;
  height: 426px;
}
.slide{
  width: 100%;
  position: absolute;
  clip-path: circle(0% at 0 50%);
}
.slide img{
  width: 100%;
  border-radius: 15px;
  height: 426px;
}
.slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}
.slide-text{
  position: absolute;
  bottom: 50px;
  left: 30px;
  background-color: rgba(220, 220, 220, 0.609);
  padding: 15px;
  border-radius: 10px;
}
.slide-text h2{
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}
.slide-text p{
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
.buttonNav{
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.slider-btn{
  background-color: rgb(151, 151, 151);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px 5px;
}
.slider-btn.active{
  background: rgb(38, 70, 83);
}